body {
    font-family: Comic Sans MS, Helvetica, Arial, sans-serif;
    font-weight: 800;
    margin: 0;
}

h1,h2 {
    text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 11vw;
}

h2 {
  font-size: 11vw;
  text-transform: uppercase;
}

header {
    color: #000;
    background-color: #fff;
    padding-top: 2rem;
}

p {
    text-align: center;
    font-size: 5vw;
}

header > * {
    margin-bottom: 1rem;
}

.one {
    background-color: #e5e5e5;
}

.photo {
    background-color: #000;
    text-align: center;
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: top;
    height: 15rem;
}

nav {
  font-size: 8vw;
  text-align: center;
}

nav > * {
    margin: 0.5rem;
}

.button {
    text-decoration: none;
    color: #333;
    padding: 0.75rem 1.5rem;
    border-radius: 3px;
    display: inline-block;
}

.primary {
    background-color: #ffd400;
}

.secondary {
    background-color: #ddd;
}

.yokam {
  font-size: 4vw;
}

.siasw {
  font-size: 5.6vw;
}

ol {
  padding-inline-start: 5rem;
}

footer {
    background-color: #fff;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.75rem;
    color: #000;
}

.required {
    color: red;
}

input[type="submit"] {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 24px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

input[type="submit"]:hover {
    background-color: #777;
}

.indicates-required {
    text-align: right;
    margin-right: 4%;
}

form {
    padding: 10px 3%;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}

.form-head {
    padding-top: 1rem;
    text-align: center;
}

img.logo {
    background-color: #fff;
    height: 3.5rem;
}


label {
    display: block;
    margin-bottom: 3px;
    padding-bottom: 16px;
    width: 96%;
    position: relative;
}

input {
    display: block;
    margin-top: 3px;
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}

textarea {
    width: 100%;
    margin-top: 3px;
    display: block;
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input[type="radio"] {
    display: inline;
    width: auto;
}

fieldset {
    border: none;
    padding-left: 0;
    padding-bottom: 16px;
}

fieldset > label {
    padding: 3px;
    margin: 0;
}

legend {
    padding-left: 0;
    padding-bottom: 3px;
}

@media (min-width: 700px) {
    .photo {
        height: 36rem;
    }
}

